In [1]:
#Importing all the libraries 

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Calling all CSV files 

Ummanu = pd.read_csv("Badger consultations October 23.csv")
Adastra = pd.read_csv("FullCaseReportData.csv")#Contains only Blanks and UTS

C:\Users\Fredrick.Alli\AppData\Local\Temp\ipykernel_16464\46601294.py:4: DtypeWarning: Columns (33,34,36,47,48,49,50,51,52,53,54,55,63) have mixed types. Specify dtype option on import or set low_memory=False.
  Adastra = pd.read_csv("FullCaseReportData.csv")

In [3]:
Adastra.columns

Index(['Case No', 'Operator Who Received Case', 'Reported Condition',
       'Receive Time (Badger)', 'Forename', 'Surname', 'Sex', 'Dob', 'Age',
       'Ethnicity', 'Address Line1', 'Address Line2', 'Address Line3',
       'Postcode', 'Home Phone', 'Current Address Line1',
       'Current Address Line2', 'Current Address Line3', 'Current Postcode',
       'Return Phone No', 'Clinicians Name', 'Provider Group', 'PG Code',
       'Call Origin', 'Caller Name', 'Caller Phone', 'Initial Case Type',
       'Final Case Type', 'Reception Priority', 'Priority After Assessment',
       'Latest Priority', 'Location Name', 'Comfort Call', 'Booked Date',
       'PCC Arrival', 'Despatch Time', 'Doctor Arrived',
       'Initial Case Rec Time', '1st Cons Summary', '1st Cons History',
       '1st Cons Examination', '1st Cons Diagnosis', '1st Cons Treatment',
       '1st Cons Began Time', '1st Cons End Time', '1st Cons Clinicians Name',
       '1st Cons Prov Type', 'Last Cons Summary', 'Last Cons History',
       'Last Cons Examination', 'Last Cons Diagnosis', 'Last Cons Treatment',
       'Last Cons Begin Time', 'Last Cons End Time',
       'Last Cons Clinicians Name', 'Last Cons Prov Type', 'Clinical Codes',
       'Examination Details', 'Prescriptions', 'Followup With Comments',
       'NHS Number', 'Externally Received', 'CGU Tag Summary',
       'Case Tag Description', 'Case Tag', 'Outcome Mapping DX Code',
       '2nd Consultation Start Date Time', '2nd Consultation End Date Time',
       'Clinician Name', 'Received From', 'Site', 'Ext Case ID',
       'Ext Case Ref', 'UniqueID'],
      dtype='object')

In [4]:
Ummanu.columns

Index(['id', 'consultation_id', 'status', 'Surname', 'Forename', 'Dob',
       'address', 'priority', 'key', 'Receive Time (Badger)',
       'first_call_attempt_timestamp', 'duration_from_creation_to_1st_call',
       'conversation_started_timestamp',
       'duration_from_creation_to_1st_conversation_w_clinician',
       'reopened_timestamp', 'completed_timestamp', 'UniqueID'],
      dtype='object')

In [5]:
Adastra.shape

(40232, 74)

In [6]:
Ummanu.shape

(9564, 17)

Filter Ummanu

In [7]:
# Assuming Ummanu is your DataFrame containing the data
filtered_data = Ummanu[Ummanu['status'] == 'CANCELED']

# Displaying other columns for all rows where status is 'cancelled'
filtered_data = filtered_data[['id', 'consultation_id', 'Surname', 'Forename', 'Dob', 'address', 'priority', 'key', 'Receive Time (Badger)', 'first_call_attempt_timestamp', 'duration_from_creation_to_1st_call', 'conversation_started_timestamp', 'duration_from_creation_to_1st_conversation_w_clinician', 'reopened_timestamp', 'completed_timestamp', 'UniqueID']]

print(filtered_data)

                                        id   consultation_id  Surname
6     52a4e289-5910-4c90-9ab8-8f02e2d46acd  169-879-485-7973     Kite  \
8     56a80ded-0bd4-40e3-b9f7-7e37dd38e430  169-879-456-9970   Wright
27    5f58ed59-7f21-4369-a3fe-cd2dbdb0163e  169-879-048-1460   Laleye
28    073502f0-45d7-45b3-9caf-727ff34ab543  169-879-029-2392    Adeel
29    499b698d-876f-4f71-b46a-472326fd2c40  169-879-008-4007    Price
...                                    ...               ...      ...
9535  5f7bd169-6822-43a4-80a6-cb97f8dc8370  169-613-106-2926  Nesbitt
9536  56cb4a67-b65e-47cb-aeb0-b5d65d6b773c  169-613-084-3155   Sardar
9538  9240c2e8-d518-4951-899c-2703cfcd3341  169-612-991-8619   Thomas
9544  0f0f5b46-2798-4631-a8fc-6d0c87a8362f  169-612-550-9806   Thomas
9547  c9badbe2-4552-4e55-88e8-aad116ef9bc1  169-612-404-7983    Grant

          Forename         Dob
6     Kenneth John  10/06/1946  \
8      Tracy Susan  10/08/1962
27            Seyi  16/02/1980
28         Zaviyar  20/10/2023
29             Zoe  10/03/1988
...            ...         ...
9535          Gary  26/01/1979
9536        Samina  25/12/1978
9538       Wayne R  12/03/1972
9544       Wayne R  12/03/1972
9547         Viola  06/11/1977

                                                address  priority      key
6     Apartment 241 Longbridge Village, 2 Austin Way...         0  ROUTINE  \
8       Room 1, 65 Westbury Road, Birmingham, , B17 8HY         0  ROUTINE
27    43-47, Highfield Road, Saltley, Birmingham, , ...         0  ROUTINE
28     FLAT 3, 17 RIDDFIELD ROAD, BIRMINGHAM, , B36 8NX         0  ROUTINE
29                235 ST. MARKS ROAD, TIPTON, , DY4 0SZ         1   URGENT
...                                                 ...       ...      ...
9535          6 THE WALMERS WALK, BIRMINGHAM, , B31 2UG         0  ROUTINE
9536  53 ST. MARGARETS ROAD, WARD END, BIRMINGHAM, ,...         0  ROUTINE
9538  31, Wenlock Road, Handsworth, Birmingham, , B2...         0  ROUTINE
9544  31, Wenlock Road, Handsworth, Birmingham, , B2...         0  ROUTINE
9547  Flat 54 St Albans Court, New Street, Wolverham...         0  ROUTINE

     Receive Time (Badger) first_call_attempt_timestamp
6               31/10/2023                          NaN  \
8               31/10/2023                          NaN
27              31/10/2023                          NaN
28              31/10/2023                          NaN
29              31/10/2023                          NaN
...                    ...                          ...
9535            01/10/2023                      31:15.6
9536            01/10/2023                      28:14.9
9538            01/10/2023                      12:13.7
9544            01/10/2023                      59:12.9
9547            01/10/2023                      35:12.8

     duration_from_creation_to_1st_call conversation_started_timestamp
6                                   NaN                            NaN  \
8                                   NaN                            NaN
27                                  NaN                            NaN
28                                  NaN                            NaN
29                                  NaN                            NaN
...                                 ...                            ...
9535                            00:12.6                            NaN
9536                            00:51.8                            NaN
9538                            00:15.0                            NaN
9544                            00:43.1                            NaN
9547                            01:04.9                            NaN

     duration_from_creation_to_1st_conversation_w_clinician
6                                                   NaN      \
8                                                   NaN
27                                                  NaN
28                                                  NaN
29                                                  NaN
...                                                 ...
9535                                                NaN
9536                                                NaN
9538                                                NaN
9544                                                NaN
9547                                                NaN

     reopened_timestamp completed_timestamp                UniqueID
6                   NaN             27:59.2   Kenneth JohnKite16963
8                   NaN             27:46.6  Tracy SusanWright22868
27                  NaN             17:05.4         SeyiLaleye29267
28                  NaN             11:59.8       ZaviyarAdeel45219
29                  NaN             11:42.5           ZoePrice32212
...                 ...                 ...                     ...
9535                NaN             31:33.8        GaryNesbitt28881
9536                NaN             29:28.6       SaminaSardar28849
9538                NaN             22:14.1      Wayne RThomas26370
9544                NaN             01:28.0      Wayne RThomas26370
9547                NaN             36:19.4         ViolaGrant28435

[1856 rows x 16 columns]

Finding match between Ummanu and Adastra

In [9]:
# The merge function to find matches based on common columns
matches = pd.merge(Adastra[['Case No', 'Operator Who Received Case', 'Reported Condition',
       'Receive Time (Badger)', 'Forename', 'Surname', 'Sex', 'Dob', 'Age',
       'Ethnicity', 'Address Line1', 'Address Line2', 'Address Line3',
       'Postcode', 'Home Phone', 'Current Address Line1',
       'Current Address Line2', 'Current Address Line3', 'Current Postcode',
       'Return Phone No', 'Clinicians Name', 'Provider Group', 'PG Code',
       'Call Origin', 'Caller Name', 'Caller Phone', 'Initial Case Type',
       'Final Case Type', 'Reception Priority', 'Priority After Assessment',
       'Latest Priority', 'Location Name', 'Comfort Call', 'Booked Date',
       'PCC Arrival', 'Despatch Time', 'Doctor Arrived',
       'Initial Case Rec Time', '1st Cons Summary', '1st Cons History',
       '1st Cons Examination', '1st Cons Diagnosis', '1st Cons Treatment',
       '1st Cons Began Time', '1st Cons End Time', '1st Cons Clinicians Name',
       '1st Cons Prov Type', 'Last Cons Summary', 'Last Cons History',
       'Last Cons Examination', 'Last Cons Diagnosis', 'Last Cons Treatment',
       'Last Cons Begin Time', 'Last Cons End Time',
       'Last Cons Clinicians Name', 'Last Cons Prov Type', 'Clinical Codes',
       'Examination Details', 'Prescriptions', 'Followup With Comments',
       'NHS Number', 'Externally Received', 'CGU Tag Summary',
       'Case Tag Description', 'Case Tag', 'Outcome Mapping DX Code',
       '2nd Consultation Start Date Time', '2nd Consultation End Date Time',
       'Clinician Name', 'Received From', 'Site', 'Ext Case ID',
       'Ext Case Ref', 'UniqueID']], filtered_data[['Forename', 'Surname', 'Dob', 'Receive Time (Badger)','address', 'priority', 'key', 'first_call_attempt_timestamp', 'duration_from_creation_to_1st_call', 'conversation_started_timestamp', 'duration_from_creation_to_1st_conversation_w_clinician', 'reopened_timestamp', 'completed_timestamp', 'UniqueID']], on=['Forename', 'Surname', 'Dob', 'Receive Time (Badger)'], how='inner')

print(matches)

      Case No Operator Who Received Case Reported Condition
0       93081                        NaN                NaN  \
1       93082                        NaN                NaN
2       93083                        NaN                NaN
3       93263                        NaN                NaN
4       93518                        NaN                NaN
...       ...                        ...                ...
1740    18280                        NaN                NaN
1741    18281                        NaN                NaN
1742    18283                        NaN                NaN
1743    18284                        NaN                NaN
1744    18304                        NaN                NaN

     Receive Time (Badger)     Forename     Surname Sex         Dob       Age
0               01/10/2023       Samina      Sardar   F  25/12/1978  44 years  \
1               01/10/2023         Gary     Nesbitt   M  26/01/1979  44 years
2               01/10/2023         Alan         Day   M  25/02/1965  58 years
3               01/10/2023         Alan         Day   M  25/02/1965  58 years
4               01/10/2023         Alan         Day   M  25/02/1965  58 years
...                    ...          ...         ...  ..         ...       ...
1740            31/10/2023       Malika  Abdulmaged   F  01/01/1961  62 years
1741            31/10/2023          Zoe       Price   F  10/03/1988  35 years
1742            31/10/2023      Zaviyar       Adeel   M  20/10/2023   11 days
1743            31/10/2023         Seyi      Laleye   F  16/02/1980  43 years
1744            31/10/2023  Tracy Susan      Wright   F  10/08/1962  61 years

         Ethnicity  ...                                            address
0     Not Recorded  ...  53 ST. MARGARETS ROAD, WARD END, BIRMINGHAM, ,...  \
1     Not Recorded  ...          6 THE WALMERS WALK, BIRMINGHAM, , B31 2UG
2     Not Recorded  ...  11 LANSDOWNE ROAD, ERDINGTON, BIRMINGHAM, , B2...
3     Not Recorded  ...  11 LANSDOWNE ROAD, ERDINGTON, BIRMINGHAM, , B2...
4     Not Recorded  ...  11 LANSDOWNE ROAD, ERDINGTON, BIRMINGHAM, , B2...
...            ...  ...                                                ...
1740  Not Recorded  ...             11 EVERSLEY ROAD, BIRMINGHAM, , B9 5BS
1741  Not Recorded  ...              235 ST. MARKS ROAD, TIPTON, , DY4 0SZ
1742  Not Recorded  ...   FLAT 3, 17 RIDDFIELD ROAD, BIRMINGHAM, , B36 8NX
1743  Not Recorded  ...  43-47, Highfield Road, Saltley, Birmingham, , ...
1744  Not Recorded  ...    Room 1, 65 Westbury Road, Birmingham, , B17 8HY

     priority      key first_call_attempt_timestamp
0           0  ROUTINE                      28:14.9  \
1           0  ROUTINE                      31:15.6
2           0  ROUTINE                          NaN
3           0  ROUTINE                          NaN
4           0  ROUTINE                          NaN
...       ...      ...                          ...
1740        0  ROUTINE                      38:16.9
1741        1   URGENT                          NaN
1742        0  ROUTINE                          NaN
1743        0  ROUTINE                          NaN
1744        0  ROUTINE                          NaN

     duration_from_creation_to_1st_call conversation_started_timestamp
0                               00:51.8                            NaN  \
1                               00:12.6                            NaN
2                                   NaN                            NaN
3                                   NaN                            NaN
4                                   NaN                            NaN
...                                 ...                            ...
1740                            34:42.5                            NaN
1741                                NaN                            NaN
1742                                NaN                            NaN
1743                                NaN                            NaN
1744                                NaN                            NaN

     duration_from_creation_to_1st_conversation_w_clinician
0                                                   NaN      \
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1740                                                NaN
1741                                                NaN
1742                                                NaN
1743                                                NaN
1744                                                NaN

     reopened_timestamp completed_timestamp              UniqueID_y
0                   NaN             29:28.6       SaminaSardar28849
1                   NaN             31:33.8        GaryNesbitt28881
2                   NaN             03:59.6            AlanDay23798
3                   NaN             03:59.6            AlanDay23798
4                   NaN             03:59.6            AlanDay23798
...                 ...                 ...                     ...
1740                NaN             54:45.3   MalikaAbdulmaged22282
1741                NaN             11:42.5           ZoePrice32212
1742                NaN             11:59.8       ZaviyarAdeel45219
1743                NaN             17:05.4         SeyiLaleye29267
1744                NaN             27:46.6  Tracy SusanWright22868

[1745 rows x 84 columns]

In [10]:
# Save the merged data to a new CSV file
matches.to_csv(r'C:\Users\Fredrick.Alli\OneDrive - Badger Medical\Py\PycharmProjects\Finding the matches between Ummanu(status=cancelled and Adastra)\Ummanu and Adastra Match\Oct_fullinsights2023.csv', index=False)

print("Matched data from Adastra_Report saved to Oct_fullinsights2023.csv")

Matched data from Adastra_Report saved to Oct_fullinsights2023.csv

November Matches for Adastra and Ummanu

In [11]:
#Calling all CSV files 

Ummanu2 = pd.read_csv("Badger consultations Nov 23.csv")
Adastra2 = pd.read_csv("FullCaseReportData.csv")#Contains only Blanks and UTS

C:\Users\Fredrick.Alli\AppData\Local\Temp\ipykernel_16464\3952341575.py:4: DtypeWarning: Columns (33,34,36,47,48,49,50,51,52,53,54,55,63) have mixed types. Specify dtype option on import or set low_memory=False.
  Adastra2 = pd.read_csv("FullCaseReportData.csv")#Contains only Blanks and UTS

In [12]:
Ummanu2.shape

(9560, 18)

In [13]:
Adastra2.shape

(40232, 74)

Filter Ummanu 2

In [14]:
# Assuming Ummanu is your DataFrame containing the data
filtered_data2 = Ummanu2[Ummanu2['status'] == 'CANCELED']

# Displaying other columns for all rows where status is 'cancelled'
filtered_data2 = filtered_data2[['id', 'consultation_id', 'Surname', 'Forename', 'Dob', 'address', 'priority', 'key', 'Receive Time (Badger)', 'first_call_attempt_timestamp', 'duration_from_creation_to_1st_call', 'conversation_started_timestamp', 'duration_from_creation_to_1st_conversation_w_clinician', 'reopened_timestamp', 'completed_timestamp', 'UniqueID']]

print(filtered_data2)

                                        id   consultation_id  Surname
12    30cfcfb2-a435-42a1-a84f-ea049f863765  170-138-508-3594   Walton  \
17    c0631e23-f5f9-4ad5-b7fe-7f4436652fd2  170-138-457-0968   Akhtar
25    afbb2985-755e-4c5e-a191-0baeebb73566  170-138-274-5446  Douglas
33    3ed9cfb6-5a32-47c6-9666-7f8573450ab1  170-138-123-9797  Mcilwee
34    47f32d89-074b-4138-99b6-f4236e3cd7f6  170-138-110-9563     Hunt
...                                    ...               ...      ...
9539  bedfaf3c-c16b-4174-b6f2-731ba4917af0  169-880-340-9344    Preet
9541  757788d4-61d0-48c4-a0cd-cbe7b4e29c60  169-880-171-6304  Summers
9543  a347d986-abff-4679-8481-dac37b843550  169-880-102-3845  Alhazmi
9546  5a581536-6da0-4a75-913b-85ee055a6e6d  169-880-071-5447     Zada
9556  41d70171-b272-4c83-8783-532d95f74a69  169-879-733-4121   Wilson

             Forename         Dob
12              Kevin  28/06/1963  \
17               Sana  31/08/1999
25              Amiya  06/08/2022
33    Anthony Patrick  21/12/1963
34               Neil  01/07/1951
...               ...         ...
9539             Aman  02/10/2005
9541         Douglars  22/07/1929
9543             Dhai  16/03/2016
9546            Hayah  20/03/2023
9556        Ann-Marie  11/08/1988

                                                address  priority      key
12                    49 POUND ROAD, OLDBURY, , B68 8LY         0  ROUTINE  \
17             17 BARNFORD CLOSE, BIRMINGHAM, , B10 0BL         0  ROUTINE
25    11 FRANCES ROAD, ERDINGTON, BIRMINGHAM, , B23 7LD         0  ROUTINE
33    298, Franklin Road, Bournville, Birmingham, , ...         0  ROUTINE
34       6 CHECKLEY CLOSE, SHIRLEY, SOLIHULL, , B90 2BW         0  ROUTINE
...                                                 ...       ...      ...
9539  Parkway House 3, Bordesley Park Road, Birmingh...         0  ROUTINE
9541  BLOSSOMFIELD ROSE CARE HOME, BLOSSOMFIELD ROAD...         0  ROUTINE
9543  Apartment 221 Skyline 165, Granville Street, B...         0  ROUTINE
9546           64 GAYHURST DRIVE, BIRMINGHAM, , B25 8YN         0  ROUTINE
9556  4, Snitterfield Drive, Shirley, Solihull, , B9...         0  ROUTINE

     Receive Time (Badger) first_call_attempt_timestamp
12              30/11/2023                          NaN  \
17              30/11/2023                          NaN
25              30/11/2023                          NaN
33              30/11/2023                          NaN
34              30/11/2023                          NaN
...                    ...                          ...
9539            01/11/2023                      50:17.0
9541            01/11/2023                      22:17.4
9543            01/11/2023                          NaN
9546            01/11/2023                          NaN
9556            01/11/2023                          NaN

     duration_from_creation_to_1st_call conversation_started_timestamp
12                                  NaN                            NaN  \
17                                  NaN                            NaN
25                                  NaN                            NaN
33                                  NaN                            NaN
34                                  NaN                            NaN
...                                 ...                            ...
9539                            00:07.6                            NaN
9541                            00:21.0                            NaN
9543                                NaN                            NaN
9546                                NaN                            NaN
9556                                NaN                            NaN

     duration_from_creation_to_1st_conversation_w_clinician
12                                                  NaN      \
17                                                  NaN
25                                                  NaN
33                                                  NaN
34                                                  NaN
...                                                 ...
9539                                                NaN
9541                                                NaN
9543                                                NaN
9546                                                NaN
9556                                                NaN

     reopened_timestamp completed_timestamp                          UniqueID
12                  NaN             01:10.1             KevinWalton2319045260
17                  NaN             02:17.3              SanaAkhtar3640345260
25                  NaN             21:20.6            AmiyaDouglas4477945260
33                  NaN             09:48.0  Anthony PatrickMcilwee2336645260
34                  NaN             01:56.7                NeilHunt1881045260
...                 ...                 ...                               ...
9539                NaN             53:14.6               AmanPreet3862745231
9541                NaN             24:05.8         DouglarsSummers1079645231
9543                NaN             12:09.6             DhaiAlhazmi4244545231
9546                NaN             07:10.5               HayahZada4500545231
9556                NaN             11:54.6         Ann-MarieWilson3236645231

[1534 rows x 16 columns]

Find the match between Ummanu and Adastra, Nov 2023

In [15]:
# The merge function to find matches based on common columns
matches2 = pd.merge(Adastra2[['Case No', 'Operator Who Received Case', 'Reported Condition',
       'Receive Time (Badger)', 'Forename', 'Surname', 'Sex', 'Dob', 'Age',
       'Ethnicity', 'Address Line1', 'Address Line2', 'Address Line3',
       'Postcode', 'Home Phone', 'Current Address Line1',
       'Current Address Line2', 'Current Address Line3', 'Current Postcode',
       'Return Phone No', 'Clinicians Name', 'Provider Group', 'PG Code',
       'Call Origin', 'Caller Name', 'Caller Phone', 'Initial Case Type',
       'Final Case Type', 'Reception Priority', 'Priority After Assessment',
       'Latest Priority', 'Location Name', 'Comfort Call', 'Booked Date',
       'PCC Arrival', 'Despatch Time', 'Doctor Arrived',
       'Initial Case Rec Time', '1st Cons Summary', '1st Cons History',
       '1st Cons Examination', '1st Cons Diagnosis', '1st Cons Treatment',
       '1st Cons Began Time', '1st Cons End Time', '1st Cons Clinicians Name',
       '1st Cons Prov Type', 'Last Cons Summary', 'Last Cons History',
       'Last Cons Examination', 'Last Cons Diagnosis', 'Last Cons Treatment',
       'Last Cons Begin Time', 'Last Cons End Time',
       'Last Cons Clinicians Name', 'Last Cons Prov Type', 'Clinical Codes',
       'Examination Details', 'Prescriptions', 'Followup With Comments',
       'NHS Number', 'Externally Received', 'CGU Tag Summary',
       'Case Tag Description', 'Case Tag', 'Outcome Mapping DX Code',
       '2nd Consultation Start Date Time', '2nd Consultation End Date Time',
       'Clinician Name', 'Received From', 'Site', 'Ext Case ID',
       'Ext Case Ref', 'UniqueID']], filtered_data2[['Forename', 'Surname', 'Dob', 'Receive Time (Badger)','address', 'priority', 'key', 'first_call_attempt_timestamp', 'duration_from_creation_to_1st_call', 'conversation_started_timestamp', 'duration_from_creation_to_1st_conversation_w_clinician', 'reopened_timestamp', 'completed_timestamp', 'UniqueID']], on=['Forename', 'Surname', 'Dob', 'Receive Time (Badger)'], how='inner')

print(matches2)

      Case No Operator Who Received Case Reported Condition
0       18316                        NaN                NaN  \
1       18326                        NaN                NaN
2       18330                        NaN                NaN
3       18329                        NaN                NaN
4       18333                        NaN                NaN
...       ...                        ...                ...
1135    33532                        NaN                NaN
1136    33542                        NaN                NaN
1137    33546                        NaN                NaN
1138    33551                        NaN                NaN
1139    33560                        NaN                NaN

     Receive Time (Badger)   Forename  Surname Sex         Dob        Age
0               01/11/2023  Ann-Marie   Wilson   F  11/08/1988   35 years  \
1               01/11/2023      Hayah     Zada   F  20/03/2023   7 months
2               01/11/2023      Hayah     Zada   F  20/03/2023   7 months
3               01/11/2023       Dhai  Alhazmi   F  16/03/2016    7 years
4               01/11/2023       Aman    Preet   F  02/10/2005   18 years
...                    ...        ...      ...  ..         ...        ...
1135            30/11/2023       Neil     Hunt   M  01/07/1951   72 years
1136            30/11/2023      Amiya  Douglas   F  06/08/2022  15 months
1137            30/11/2023      Amiya  Douglas   F  06/08/2022  15 months
1138            30/11/2023       Sana   Akhtar   F  31/08/1999   24 years
1139            30/11/2023      Kevin   Walton   M  28/06/1963   60 years

         Ethnicity  ...                                            address
0     Not Recorded  ...  4, Snitterfield Drive, Shirley, Solihull, , B9...  \
1     Not Recorded  ...           64 GAYHURST DRIVE, BIRMINGHAM, , B25 8YN
2     Not Recorded  ...           64 GAYHURST DRIVE, BIRMINGHAM, , B25 8YN
3     Not Recorded  ...  Apartment 221 Skyline 165, Granville Street, B...
4     Not Recorded  ...  Parkway House 3, Bordesley Park Road, Birmingh...
...            ...  ...                                                ...
1135  Not Recorded  ...     6 CHECKLEY CLOSE, SHIRLEY, SOLIHULL, , B90 2BW
1136  Not Recorded  ...  11 FRANCES ROAD, ERDINGTON, BIRMINGHAM, , B23 7LD
1137  Not Recorded  ...  11 FRANCES ROAD, ERDINGTON, BIRMINGHAM, , B23 7LD
1138  Not Recorded  ...           17 BARNFORD CLOSE, BIRMINGHAM, , B10 0BL
1139  Not Recorded  ...                  49 POUND ROAD, OLDBURY, , B68 8LY

     priority      key first_call_attempt_timestamp
0           0  ROUTINE                          NaN  \
1           0  ROUTINE                          NaN
2           0  ROUTINE                          NaN
3           0  ROUTINE                          NaN
4           0  ROUTINE                      50:17.0
...       ...      ...                          ...
1135        0  ROUTINE                          NaN
1136        0  ROUTINE                          NaN
1137        0  ROUTINE                          NaN
1138        0  ROUTINE                          NaN
1139        0  ROUTINE                          NaN

     duration_from_creation_to_1st_call conversation_started_timestamp
0                                   NaN                            NaN  \
1                                   NaN                            NaN
2                                   NaN                            NaN
3                                   NaN                            NaN
4                               00:07.6                            NaN
...                                 ...                            ...
1135                                NaN                            NaN
1136                                NaN                            NaN
1137                                NaN                            NaN
1138                                NaN                            NaN
1139                                NaN                            NaN

     duration_from_creation_to_1st_conversation_w_clinician
0                                                   NaN      \
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1135                                                NaN
1136                                                NaN
1137                                                NaN
1138                                                NaN
1139                                                NaN

     reopened_timestamp completed_timestamp                 UniqueID_y
0                   NaN             11:54.6  Ann-MarieWilson3236645231
1                   NaN             07:10.5        HayahZada4500545231
2                   NaN             07:10.5        HayahZada4500545231
3                   NaN             12:09.6      DhaiAlhazmi4244545231
4                   NaN             53:14.6        AmanPreet3862745231
...                 ...                 ...                        ...
1135                NaN             01:56.7         NeilHunt1881045260
1136                NaN             21:20.6     AmiyaDouglas4477945260
1137                NaN             21:20.6     AmiyaDouglas4477945260
1138                NaN             02:17.3       SanaAkhtar3640345260
1139                NaN             01:10.1      KevinWalton2319045260

[1140 rows x 84 columns]

In [16]:
# Save the merged data to a new CSV file
matches2.to_csv(r'C:\Users\Fredrick.Alli\OneDrive - Badger Medical\Py\PycharmProjects\Finding the matches between Ummanu(status=cancelled and Adastra)\Ummanu and Adastra Match\Nov_fullinsights2023.csv', index=False)

print("Matched data from Adastra_Report saved to Nov_fullinsights2023.csv")

Matched data from Adastra_Report saved to Nov_fullinsights2023.csv

December Matches for Adastra and Ummanu

In [17]:
#Calling all CSV files 

Ummanu3 = pd.read_csv("Badger consultations Dec 23.csv")
Adastra3 = pd.read_csv("FullCaseReportData.csv")#Contains only Blanks and UTS

C:\Users\Fredrick.Alli\AppData\Local\Temp\ipykernel_16464\2836387323.py:4: DtypeWarning: Columns (33,34,36,47,48,49,50,51,52,53,54,55,63) have mixed types. Specify dtype option on import or set low_memory=False.
  Adastra3 = pd.read_csv("FullCaseReportData.csv")#Contains only Blanks and UTS

In [18]:
Ummanu3.shape

(14015, 18)

In [19]:
Adastra3.shape

(40232, 74)

Filter Ummanu3 for only status = cancelled

In [21]:
Ummanu3.shape

(14015, 18)

In [23]:
# Assuming Ummanu is your DataFrame containing the data
filtered_data3 = Ummanu3[Ummanu3['status'] == 'CANCELED']

# Displaying other columns for all rows where status is 'cancelled'
filtered_data3 = filtered_data3[['id', 'consultation_id', 'Surname', 'Forename', 'Dob', 'address', 'priority', 'key', 'Receive Time (Badger)', 'first_call_attempt_timestamp', 'duration_from_creation_to_1st_call', 'conversation_started_timestamp', 'duration_from_creation_to_1st_conversation_w_clinician', 'reopened_timestamp', 'completed_timestamp', 'UniqueID']]

print(filtered_data3)

                                         id   consultation_id     Surname
11     488a2d19-8877-480e-89c2-f68aa3eb5ac2  170-406-502-6639     Sharkey  \
17     863dff1e-5118-4d48-865c-3ec1786d1ee3  170-406-408-8283    Blakeway
23     e18a93d2-feff-4e80-98ee-aa923a91e9ac  170-406-300-4001     Parveen
24     9435789b-8f0d-4b57-ac65-223738187201  170-406-292-8386       Blake
34     fcc64835-8d7f-487c-877b-a16d34eb19a0  170-406-178-1062        Lowe
...                                     ...               ...         ...
13998  2e027de2-16dd-46f4-be78-ee5631a2666d  170-139-467-0963        Miah
14005  69066b8d-5bea-4a75-b818-620a4921fc5c  170-139-264-8291  Bravington
14008  0e138add-270e-4d53-af72-02fe91b5fee1  170-139-143-2775     Hussain
14009  f6793863-2d8e-4c61-9f18-2dd87a7d9c6f  170-139-130-6325     Ugradar
14011  bafc5532-0f6c-4476-a999-b2a33825472a  170-139-078-1782      Ebanks

          Forename         Dob
11     Christopher  07/06/1968  \
17         Valerie  27/07/1943
23           Nazia  05/04/1976
24      Sensemania  06/01/1984
34         Eleanor  10/10/1987
...            ...         ...
13998        Angur  10/08/1958
14005  Delilah-Rae  06/06/2021
14008       Khalid  09/01/1972
14009         Azaz  26/03/1985
14011     Victoria  16/04/1970

                                                 address  priority      key
11     ADDERLEY HOUSE, BRIDGE ROAD, SALTLEY, BIRMINGH...         0  ROUTINE  \
17     FIELD VIEW RESIDENTIAL HOME, THE SLOUGH, REDDI...         0  ROUTINE
23     57, Gospel Farm Road, Acocks Green, Birmingham...         0  ROUTINE
24           100 MANNINGFORD ROAD, BIRMINGHAM, , B14 5LX         0  ROUTINE
34              108 GRAVELLY LANE, BIRMINGHAM, , B23 6LS         0  ROUTINE
...                                                  ...       ...      ...
13998              3 TAUNTON ROAD, BIRMINGHAM, , B12 8DE         0  ROUTINE
14005           11 CHESTNUT CROFT, BIRMINGHAM, , B29 4BW         0  ROUTINE
14008              135 BOWYER ROAD, BIRMINGHAM, , B8 1EY         0  ROUTINE
14009                49, Paisley Close, Luton, , LU4 9GF         0  ROUTINE
14011  7 OAKMEADOW AVENUE, ERDINGTON, BIRMINGHAM, , B...         0  ROUTINE

      Receive Time (Badger) first_call_attempt_timestamp
11               31/12/2023                          NaN  \
17               31/12/2023                          NaN
23               31/12/2023                          NaN
24               31/12/2023                          NaN
34               31/12/2023                          NaN
...                     ...                          ...
13998            01/12/2023                          NaN
14005            01/12/2023                      07:31.1
14008            01/12/2023                      47:31.3
14009            01/12/2023                          NaN
14011            01/12/2023                      42:30.8

      duration_from_creation_to_1st_call conversation_started_timestamp
11                                   NaN                            NaN  \
17                                   NaN                            NaN
23                                   NaN                            NaN
24                                   NaN                            NaN
34                                   NaN                            NaN
...                                  ...                            ...
13998                                NaN                            NaN
14005                            03:22.8                            NaN
14008                            03:38.5                            NaN
14009                                NaN                            NaN
14011                            09:29.0                            NaN

      duration_from_creation_to_1st_conversation_w_clinician
11                                                   NaN      \
17                                                   NaN
23                                                   NaN
24                                                   NaN
34                                                   NaN
...                                                  ...
13998                                                NaN
14005                                                NaN
14008                                                NaN
14009                                                NaN
14011                                                NaN

      reopened_timestamp completed_timestamp                         UniqueID
11                   NaN             56:58.2     ChristopherSharkey2499645291
17                   NaN             09:41.3        ValerieBlakeway1591445291
23                   NaN             52:52.3           NaziaParveen2785545291
24                   NaN             59:42.7        SensemaniaBlake3068745291
34                   NaN             33:30.1            EleanorLowe3206045291
...                  ...                 ...                              ...
13998                NaN             38:19.2              AngurMiah2140745261
14005                NaN             08:45.4  Delilah-RaeBravington4435345261
14008                NaN             33:47.2          KhalidHussain2630745261
14009                NaN             46:14.7            AzazUgradar3113245261
14011            07:44.4             08:03.7         VictoriaEbanks2567445261

[2271 rows x 16 columns]

In [25]:
filtered_data3.head()

,id,consultation_id,Surname,Forename,Dob,address,priority,key,Receive Time (Badger),first_call_attempt_timestamp,duration_from_creation_to_1st_call,conversation_started_timestamp,duration_from_creation_to_1st_conversation_w_clinician,reopened_timestamp,completed_timestamp,UniqueID
11,488a2d19-8877-480e-89c2-f68aa3eb5ac2,170-406-502-6639,Sharkey,Christopher,07/06/1968,"ADDERLEY HOUSE, BRIDGE ROAD, SALTLEY, BIRMINGH...",0,ROUTINE,31/12/2023,NaN,NaN,NaN,NaN,NaN,56:58.2,ChristopherSharkey2499645291
17,863dff1e-5118-4d48-865c-3ec1786d1ee3,170-406-408-8283,Blakeway,Valerie,27/07/1943,"FIELD VIEW RESIDENTIAL HOME, THE SLOUGH, REDDI...",0,ROUTINE,31/12/2023,NaN,NaN,NaN,NaN,NaN,09:41.3,ValerieBlakeway1591445291
23,e18a93d2-feff-4e80-98ee-aa923a91e9ac,170-406-300-4001,Parveen,Nazia,05/04/1976,"57, Gospel Farm Road, Acocks Green, Birmingham...",0,ROUTINE,31/12/2023,NaN,NaN,NaN,NaN,NaN,52:52.3,NaziaParveen2785545291
24,9435789b-8f0d-4b57-ac65-223738187201,170-406-292-8386,Blake,Sensemania,06/01/1984,"100 MANNINGFORD ROAD, BIRMINGHAM, , B14 5LX",0,ROUTINE,31/12/2023,NaN,NaN,NaN,NaN,NaN,59:42.7,SensemaniaBlake3068745291
34,fcc64835-8d7f-487c-877b-a16d34eb19a0,170-406-178-1062,Lowe,Eleanor,10/10/1987,"108 GRAVELLY LANE, BIRMINGHAM, , B23 6LS",0,ROUTINE,31/12/2023,NaN,NaN,NaN,NaN,NaN,33:30.1,EleanorLowe3206045291

Find the match between Ummanu and Adastra, Dec 2023

In [26]:
# The merge function to find matches based on common columns
matches3 = pd.merge(Adastra3[['Case No', 'Operator Who Received Case', 'Reported Condition',
       'Receive Time (Badger)', 'Forename', 'Surname', 'Sex', 'Dob', 'Age',
       'Ethnicity', 'Address Line1', 'Address Line2', 'Address Line3',
       'Postcode', 'Home Phone', 'Current Address Line1',
       'Current Address Line2', 'Current Address Line3', 'Current Postcode',
       'Return Phone No', 'Clinicians Name', 'Provider Group', 'PG Code',
       'Call Origin', 'Caller Name', 'Caller Phone', 'Initial Case Type',
       'Final Case Type', 'Reception Priority', 'Priority After Assessment',
       'Latest Priority', 'Location Name', 'Comfort Call', 'Booked Date',
       'PCC Arrival', 'Despatch Time', 'Doctor Arrived',
       'Initial Case Rec Time', '1st Cons Summary', '1st Cons History',
       '1st Cons Examination', '1st Cons Diagnosis', '1st Cons Treatment',
       '1st Cons Began Time', '1st Cons End Time', '1st Cons Clinicians Name',
       '1st Cons Prov Type', 'Last Cons Summary', 'Last Cons History',
       'Last Cons Examination', 'Last Cons Diagnosis', 'Last Cons Treatment',
       'Last Cons Begin Time', 'Last Cons End Time',
       'Last Cons Clinicians Name', 'Last Cons Prov Type', 'Clinical Codes',
       'Examination Details', 'Prescriptions', 'Followup With Comments',
       'NHS Number', 'Externally Received', 'CGU Tag Summary',
       'Case Tag Description', 'Case Tag', 'Outcome Mapping DX Code',
       '2nd Consultation Start Date Time', '2nd Consultation End Date Time',
       'Clinician Name', 'Received From', 'Site', 'Ext Case ID',
       'Ext Case Ref', 'UniqueID']], filtered_data3[['Forename', 'Surname', 'Dob', 'Receive Time (Badger)','address', 'priority', 'key', 'first_call_attempt_timestamp', 'duration_from_creation_to_1st_call', 'conversation_started_timestamp', 'duration_from_creation_to_1st_conversation_w_clinician', 'reopened_timestamp', 'completed_timestamp', 'UniqueID']], on=['Forename', 'Surname', 'Dob', 'Receive Time (Badger)'], how='inner')

print(matches3)

      Case No Operator Who Received Case Reported Condition
0       33574                        NaN                NaN  \
1       33572                        NaN                NaN
2       33581                        NaN                NaN
3       33575                        NaN                NaN
4       33578                        NaN                NaN
...       ...                        ...                ...
2160    54138                        NaN                NaN
2161    54143                        NaN                NaN
2162    54159                        NaN                NaN
2163    54160                        NaN                NaN
2164    54166                        NaN                NaN

     Receive Time (Badger)     Forename     Surname Sex         Dob
0               01/12/2023         Azaz     Ugradar   M  26/03/1985  \
1               01/12/2023     Victoria      Ebanks   F  16/04/1970
2               01/12/2023     Victoria      Ebanks   F  16/04/1970
3               01/12/2023       Khalid     Hussain   M  09/01/1972
4               01/12/2023  Delilah-Rae  Bravington   F  06/06/2021
...                    ...          ...         ...  ..         ...
2160            31/12/2023         Alex       Locke   M  14/06/2004
2161            31/12/2023        Musab       Hersi   M  05/04/2011
2162            31/12/2023   Sensemania       Blake   F  06/01/1984
2163            31/12/2023        Nazia     Parveen   F  05/04/1976
2164            31/12/2023      Valerie    Blakeway   F  27/07/1943

            Age     Ethnicity  ...
0      38 years  Not Recorded  ...  \
1      53 years    Not stated  ...
2      53 years    Not stated  ...
3      51 years  Not Recorded  ...
4     29 months  Not Recorded  ...
...         ...           ...  ...
2160   19 years  Not Recorded  ...
2161   12 years  Not Recorded  ...
2162   39 years  Not Recorded  ...
2163   47 years  Not Recorded  ...
2164   80 years  Not Recorded  ...

                                                address priority      key
0                   49, Paisley Close, Luton, , LU4 9GF        0  ROUTINE  \
1     7 OAKMEADOW AVENUE, ERDINGTON, BIRMINGHAM, , B...        0  ROUTINE
2     7 OAKMEADOW AVENUE, ERDINGTON, BIRMINGHAM, , B...        0  ROUTINE
3                 135 BOWYER ROAD, BIRMINGHAM, , B8 1EY        0  ROUTINE
4              11 CHESTNUT CROFT, BIRMINGHAM, , B29 4BW        0  ROUTINE
...                                                 ...      ...      ...
2160                 14 IRVINE ROAD, WALSALL, , WS3 2EA        0  ROUTINE
2161            62 Heaton Street, Birmingham, , B18 5BB        0  ROUTINE
2162        100 MANNINGFORD ROAD, BIRMINGHAM, , B14 5LX        0  ROUTINE
2163  57, Gospel Farm Road, Acocks Green, Birmingham...        0  ROUTINE
2164  FIELD VIEW RESIDENTIAL HOME, THE SLOUGH, REDDI...        0  ROUTINE

     first_call_attempt_timestamp duration_from_creation_to_1st_call
0                             NaN                                NaN  \
1                         42:30.8                            09:29.0
2                         42:30.8                            09:29.0
3                         47:31.3                            03:38.5
4                         07:31.1                            03:22.8
...                           ...                                ...
2160                          NaN                                NaN
2161                          NaN                                NaN
2162                          NaN                                NaN
2163                          NaN                                NaN
2164                          NaN                                NaN

     conversation_started_timestamp
0                               NaN  \
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
2160                            NaN
2161                            NaN
2162                            NaN
2163                            NaN
2164                            NaN

     duration_from_creation_to_1st_conversation_w_clinician
0                                                   NaN      \
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
2160                                                NaN
2161                                                NaN
2162                                                NaN
2163                                                NaN
2164                                                NaN

     reopened_timestamp completed_timestamp                       UniqueID_y
0                   NaN             46:14.7            AzazUgradar3113245261
1               07:44.4             08:03.7         VictoriaEbanks2567445261
2               07:44.4             08:03.7         VictoriaEbanks2567445261
3                   NaN             33:47.2          KhalidHussain2630745261
4                   NaN             08:45.4  Delilah-RaeBravington4435345261
...                 ...                 ...                              ...
2160                NaN             21:21.2              AlexLocke3815245291
2161                NaN             21:11.0             MusabHersi4063845291
2162                NaN             59:42.7        SensemaniaBlake3068745291
2163                NaN             52:52.3           NaziaParveen2785545291
2164                NaN             09:41.3        ValerieBlakeway1591445291

[2165 rows x 84 columns]

In [27]:
# Save the merged data to a new CSV file
matches3.to_csv(r'C:\Users\Fredrick.Alli\OneDrive - Badger Medical\Py\PycharmProjects\Finding the matches between Ummanu(status=cancelled and Adastra)\Ummanu and Adastra Match\Dec_fullinsights2023.csv', index=False)

print("Matched data from Adastra_Report saved to Dec_fullinsights2023.csv")

Matched data from Adastra_Report saved to Dec_fullinsights2023.csv

Make Oct Insight 2023 age numeric

In [28]:
import pandas as pd

# Load the dataset
data = pd.read_csv('Oct_fullinsights2023.csv')

# Define the function to convert the age strings
def convert_age_to_numeric(age_str):
    if pd.isnull(age_str):
        return None
    if 'year' in age_str:
        return int(age_str.split(' ')[0])
    if 'month' in age_str:
        return int(age_str.split(' ')[0]) / 12
    if 'week' in age_str:
        return int(age_str.split(' ')[0]) / 52
    if 'day' in age_str:
        return int(age_str.split(' ')[0]) / 365
    return None

# Apply the function to the 'Age' column
data['Age_numeric'] = data['Age'].apply(convert_age_to_numeric)

# Save the updated DataFrame to a new CSV file
data.to_csv(r'C:\Users\Fredrick.Alli\OneDrive - Badger Medical\Py\PycharmProjects\Finding the matches between Ummanu(status=cancelled and Adastra)\Ummanu and Adastra Match\Oct_fullerinsights2023.csv', index=False)