In [1]:
#Importing all the libraries 

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
#Calling all the CSV files 

Jan1_24 = pd.read_csv(r"C:\Users\Fredrick.Alli\Documents\Jan24.csv")

Jan2_24 = pd.read_csv(r"C:\Users\Fredrick.Alli\Documents\Jan242.csv")

Using Union all/Concat Jan1_24 and Jan2_24

In [8]:
#setting the max rows 
pd.set_option('display.max_columns', None)

#Printing the shapes 
print("A:", Jan1_24.shape)
print("B:", Jan2_24.shape)


#Union all/concat 

# Concatenate the two DataFrames vertically (union all)
Jan2024 = pd.concat([Jan1_24, Jan2_24], ignore_index=True)

# Printing the number of rows in the combined DataFrame
print("The number of rows for the combined table is:", Jan2024.shape[0])

A: (2179, 24)
B: (8792, 24)
The number of rows for the combined table is: 10971

In [9]:
Jan2024.head()

,Case No,Receive Time (Badger),Reported Condition,Forename,Surname,DOB,Provider Group,Reg Type,PG Code,Call Origin,Initial Case Type,Final Case Type,Reception Priority,Received From,Priority After Assessment,Location Name,Booked Date,PCC Arrival,Despatch Time,Followup,Externally Received,Destination Name,Ext Case ID,Row Num
0,54211,01-Jan-24 02:14:49,Symptoms: Ref: 0101-195-2863; Site: SOLUTC; Na...,Babar,Hussain,08-01-1991,Small Heath Medical Practice (BM XCTY),(BM XCTY),M85108,NaN,T\Centre Nurse,T\Centre Nurse,Routine,NaN,NaN,Solihull UTS,01-Jan-24 08:20:00,01-Jan-24 08:25:43,NaN,Advised to call back Badger/111 if necessary\r...,Locally Entered,NaN,NaN,1
1,54213,01-Jan-24 02:32:47,Symptoms: Ref: 0101-964-1845; Site: SOLUTC; Na...,Chaudhary,Kamran,24-05-1984,Grafton Road Surgery (SOL CCG),(SOL CCG),M89024,NaN,T\Centre Nurse,T\Centre Nurse,Routine,NaN,NaN,Solihull UTS,01-Jan-24 08:30:00,01-Jan-24 08:19:12,NaN,Patient To Contact GP\r\nAdvised to call back ...,Locally Entered,NaN,NaN,1
2,54214,01-Jan-24 02:55:52,Symptoms: Ref: 0101-847-2594; Site: SOLUTC; Na...,Lilly,Worth,25-06-2014,Harlequin Surgery (B XCITY),(B XCITY),M85031,NaN,T\Centre Nurse,T\Centre Nurse,Routine,NaN,NaN,Solihull UTS,01-Jan-24 08:40:00,01-Jan-24 08:35:57,NaN,Patient To Contact GP\r\nAdvised to call back ...,Locally Entered,NaN,NaN,1
3,54216,01-Jan-24 02:57:56,Symptoms: Ref: 0101-860-2594; Site: SOLUTC; Na...,Ruth,Pedley,28-10-1965,Hall Green Health Centre Prt Shrly Rd (BM XCTY),(BM XCTY),Y00159,NaN,T\Centre Nurse,T\Centre Nurse,Routine,NaN,NaN,Solihull UTS,01-Jan-24 09:00:00,01-Jan-24 08:53:02,NaN,Advised to call back Badger/111 if necessary\r...,Locally Entered,NaN,NaN,1
4,54220,01-Jan-24 03:22:34,Symptoms: Ref: 0101-434-7552; Site: SOLUTC; Na...,Meadow,Holmes,22-06-2015,Bosworth Med Grp-Bosworth MC main site (BM SOLI),(BM SOLI),M89008,NaN,T\Centre Nurse,T\Centre Nurse,Routine,NaN,NaN,Solihull UTS,01-Jan-24 09:20:00,01-Jan-24 09:11:03,NaN,Advised to call back Badger/111 if necessary\r...,Locally Entered,NaN,NaN,1

In [11]:
Jan2024.columns

Index(['Case No', 'Receive Time (Badger)', 'Reported Condition', 'Forename',
       'Surname', 'DOB', 'Provider Group', 'Reg Type', 'PG Code',
       'Call Origin', 'Initial Case Type', 'Final Case Type',
       'Reception Priority', 'Received From', 'Priority After Assessment',
       'Location Name', 'Booked Date', 'PCC Arrival', 'Despatch Time',
       'Followup', 'Externally Received', 'Destination Name', 'Ext Case ID',
       'Row Num'],
      dtype='object')

In [12]:

# Selecting only 'Forename' and 'Surname' columns
selected_columns = Jan2024[['Forename', 'Surname']]

# Finding duplicates
duplicates = selected_columns[selected_columns.duplicated()]

# Displaying duplicates
print("Duplicate Forename and Surname combinations:")
print(duplicates)

Duplicate Forename and Surname combinations:
          Forename Surname
112          Tommy  Thomas
154          Gewra   Tesfe
252       Juwariah  Faisal
367        Justine  Powell
404          Teddy    Shaw
...            ...     ...
10962       Joseph  Casson
10963        James  Rusher
10965        Mandy   Beale
10967       Sandra  Barnes
10970  Christopher   Booth

[1404 rows x 2 columns]